
#main {
  height: 100%;
  margin-left: 200px;
}

.top-content {
  margin: 2rem 4rem 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: France;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #13244e;
  }

  span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
  }
}

.row1 {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
}

.row2 {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
}
